<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/dashboard">Inventory Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/list_products">Total Stock</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/receive_products">Receive Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sell_products">Issue Products</a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div>
     <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
        <li><a href="/accounts/logout"><button class="btn btn-danger">{{ user }} | Logout</button></a></li>
        {% else %}
        <li><a href="/accounts/login" class="btn btn-outline-primary">Login</a></li>
        {% endif %}
    </ul>
  </div>
</nav>